.contact-content{
    margin: 2% 12%;
  }
  .info-contact{
    margin: 2.5rem auto;
  }
  .info-locate{
    margin: 2.5rem auto;
  }
  .faq , .location{
    padding-right: 7rem;
  }

  .add-fab{
    margin-right: 1rem;
    color: #023E8A;
  }

  @media (max-width: 600px){
    .contact-content{
      margin: auto 5%;
    }
    .info-contact, .info-locate {
      margin: 1.5rem auto;
  }

    .faq, .location {
      padding-right: 0;
      margin-bottom: 1.5rem;
    }
  }