.service-card{
    margin: 1.5rem 2.5rem;
  }
  .card-title{
    font-weight: 500;
  }

  .card-link{
    text-decoration: none;
    color: #023E8A;
  }
  .card-text{
    font-size: 14px;
}


/* img {
    background-image: url(/src/images/grey-bg.jpg);
} */

@media (max-width: 600px) {
  .service-card{
    width: 23.5rem !important;
    flex-direction: row;
    margin: 1.5rem 0;   
  }

  .service-card > img {
    width: 35%;
  }
  .service-card > .card-body {
    padding: 0.5rem 1rem;
  }
}