footer {
    background-color: #023E8A;
    color: #fff;
}

.footer-content {
    padding-top: 2em;
}

/* .footer-body{
    text-align: center ;
} */

.footer-h5 {
    margin-bottom: 1.5rem;
}
.footer-details > a {
    text-decoration: none;
    color: #EEF0F2;
}

.footer-icons {
    text-align: center;
    margin: 1.5rem auto;
}

.footer-copyright {
    background-color: #EEF0F2;
    color: #333;
    padding: 1.5rem 0;
    text-align: center;
    font-weight: bold;
}

.footer-copyright>a {
    text-decoration: none;
    color: #023E8A
}

.footer-details {
    font-family: 'Mulish';
    font-weight: lighter;
    color: #EEF0F2;
    opacity: 1;
    font-size: 14px;
}

i.fab-foot {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(165, 165, 165);
    padding: 1em 1em;
}

@media (max-width: 600px) {
    .footer-main {
        flex-direction: column;
    }
    .footer-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    i.fab-foot {
        margin: 10px 0;
    }
}